apiVersion: apps/v1
kind: Deployment
metadata:
  name: aceest-fitness-canary
spec:
  replicas: 1  # Only 1 pod for testing
  selector:
    matchLabels:
      app: aceest-fitness
      version: canary
  template:
    metadata:
      labels:
        app: aceest-fitness
        version: canary
    spec:
      containers:
      - name: aceest-fitness
        image: rahul-mtech/aceest-fitness:v1.3
        ports:
        - containerPort: 5000

---
apiVersion: v1
kind: Service
metadata:
  name: aceest-fitness-service
spec:
  selector:
    app: aceest-fitness
  ports:
  - port: 5000
    targetPort: 5000
