apiVersion: apps/v1
kind: Deployment
metadata:
  name: aceest-fitness-deployment
  labels:
    app: aceest-fitness
spec:
  replicas: 2
  selector:
    matchLabels:
      app: aceest-fitness
  template:
    metadata:
      labels:
        app: aceest-fitness
    spec:
      containers:
      - name: aceest-fitness
        image: your-dockerhub-username/aceest-fitness:v1.3
        ports:
        - containerPort: 5000
