apiVersion: apps/v1
kind: Deployment
metadata:
  name: aceest-fitness-rolling
spec:
  replicas: 3
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  selector:
    matchLabels:
      app: aceest-fitness
  template:
    metadata:
      labels:
        app: aceest-fitness
    spec:
      containers:
      - name: aceest-fitness
        image: your-dockerhub-username/aceest-fitness:v1.3
        ports:
        - containerPort: 5000
